In [1]:
import pandas as pd
import numpy as np 
import scipy.stats

In [2]:
full_data= pd.read_csv('/data/passala/git/Preeclampsia_analysis/Data/Cleaned_full_data.csv', sep = '\t')
full_data

,Location,MRN,Race,SBP or DBP,Further cardiac work up,Age,Diagnosis Code
0,Cobb,563212236,Hispanic,SBP,No,28,O48.0 Post-term pregnancy
1,Cobb,561446825,White,SBP,Yes,23,"O14.13 Severe pre-eclampsia, third trimester"
2,Cobb,565977380,Black,SBP,No,32,O24.419 Gestational diabetes mellitus in pregn...
3,Cobb,563098498,Hispanic,SBP,No,27,"O14.93 Unspecified pre-eclampsia, third trimester"
4,Cobb,561651857,Black,Both,Yes,21,"J30.9 Allergic rhinitis, unspecified"
...,...,...,...,...,...,...,...
829,Douglas,561718619,Black,SBP,No,23,"O16.3 Unspecified maternal hypertension, third..."
830,Douglas,563275199,Black,SBP,No,24,"O60.00 Preterm labor without delivery, unspeci..."
831,Douglas,565735474,Black,Both,Yes,24,"O14.15 Severe pre-eclampsia, complicating the ..."
832,Douglas,565462328,Black,Both,No,26,O36.8390 Matern care for abnlt fetl hrt rate o...
833,Douglas,567097665,Other,Both,No,29,"O14.93 Unspecified pre-eclampsia, third trimester"

In [3]:
sbp_only = full_data.loc[full_data['SBP or DBP'] == 'SBP']
dbp_only = full_data.loc[full_data['SBP or DBP'] == 'DBP']

In [13]:
bp_results = scipy.stats.mannwhitneyu(x = sbp_only['Age'], y = dbp_only['Age'])
print(bp_results)

MannwhitneyuResult(statistic=7181.5, pvalue=0.43871800920137194)

In [12]:
further_cardio_workup = full_data.loc[full_data['Further cardiac work up'] == 'Yes']
no_further_workup = full_data.loc[full_data['Further cardiac work up'] == 'No']

In [38]:
further_cardio_workup.mean() #show changes

/home/passala/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

MRN    5.634679e+08
Age    3.066871e+01
dtype: float64

In [39]:
no_further_workup.mean()

/home/passala/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

MRN    5.637088e+08
Age    2.990313e+01
dtype: float64

In [16]:
cardio_workup_by_age = scipy.stats.mannwhitneyu(x = further_cardio_workup['Age'], y = no_further_workup['Age'])
print(cardio_workup_by_age)

MannwhitneyuResult(statistic=57932.5, pvalue=0.23890492930038298)

In [23]:
cardiac_workup_contingency_table = pd.crosstab(full_data['Further cardiac work up'], full_data['Race'])
cardiac_workup_contingency_table

Race                     Black  Hispanic  Other  White
Further cardiac work up
No                         294       166     38    173
Yes                         80        14     10     59

In [25]:
bp_contingency_table = pd.crosstab(full_data['SBP or DBP'], full_data['Race'])
bp_contingency_table

Race        Black  Hispanic  Other  White
SBP or DBP
Both           53        10      7     25
DBP             7         5      1      5
SBP           314       165     40    202

In [26]:
cardiac_cont_results = scipy.stats.chi2_contingency(observed= cardiac_workup_contingency_table, correction= False)

In [29]:
cardiac_statistic = cardiac_cont_results[0]
cardiac_p_value = cardiac_cont_results[1]
cardiac_dof = cardiac_cont_results[2]
cardiac_expected_freq = cardiac_cont_results[3]
cardiac_p_value

7.101373049263286e-05

In [31]:
cardiac_expected_freq

array([[300.90407674, 144.82014388,  38.61870504, 186.65707434],
       [ 73.09592326,  35.17985612,   9.38129496,  45.34292566]])

In [36]:
cardiac_workup_contingency_table

Race                     Black  Hispanic  Other  White
Further cardiac work up
No                         294       166     38    173
Yes                         80        14     10     59

In [32]:
bp_cont_results = scipy.stats.chi2_contingency(observed= bp_contingency_table, correction= False)

In [34]:
bp_statistic = bp_cont_results[0]
bp_p_value = bp_cont_results[1]
bp_dof = bp_cont_results[2]
bp_expected_freq = bp_cont_results[3]
bp_p_value

0.13384329019823657

In [35]:
bp_expected_freq

array([[ 42.60191847,  20.50359712,   5.4676259 ,  26.42685851],
       [  8.07194245,   3.88489209,   1.03597122,   5.00719424],
       [323.32613909, 155.61151079,  41.49640288, 200.56594724]])

In [37]:
bp_contingency_table

Race        Black  Hispanic  Other  White
SBP or DBP
Both           53        10      7     25
DBP             7         5      1      5
SBP           314       165     40    202